*{
    margin:0;
}




.head-sec{
    height: 200px;
    background-color: rgb(4, 12, 12);
}


.header{
    height:200px;
    background-color: rgb(9, 4, 4);
    width: 90%;
    margin-left: 5%;
}
.logo{
    height: 200px;
    background-color: rgb(10, 8, 5);
    width: 34%;
    float:left  ;
}
.logo img{
    height: 200px;

}
.menus{
height: 90px;
background-color: rgb(5, 5, 10);
width: 66%;
float: left;
}
.menus ul li{
color: aliceblue;
    font-size: 40px;
    list-style: none;
    display: inline-flex;
    padding-top: 100px;
    padding-left: 50px;
}
.menus ul li a{
    color: aliceblue;
    text-decoration: none;
}


.heading1 ol li{
    font-size: calc(1.9vmax + 16px);  
    padding-top: 100px;
    list-style: none;
    padding-left: 770px; 
    font-style:italic; 
    font-weight: bold;

}
.para1{
    font-size: 40px;
    padding-left:15px ;
}
.heading2{
    height: 150px;
     /* background-color: antiquewhite; */
    font-size: 75px;
    padding-top:20px;
    list-style: none;
        padding-left: 550px;
        
}
 /* .left1{  
     height: 1000px; 
     background-color: lightslategrey; 
     float: left; 
  width: 30%;  */
    


 /* .inleft1{ 
    height: 550px;
    background-color:gray;
    width: 80%;
    margin-top: 9%;
    margin-left: 8%;
    background-image: url(https://ayurvedapure.com/assets/images/team/Dr%20Rajesh%20Tayal.jpeg); 
 }  */
  /* .right1{ 
     height: 1000px;
     background-color: lightslategrey;   ;
           float:right;
    width: 30%; 
    } */

 
/* .inright1{ 
     height: 550px;
    background-color: rgb(88, 22, 77);
    width: 80%;
    margin-top: 9%;
    margin-left: 8%;
    background-image: url(https://ayurvedapure.com/assets/images/team/Dr%20Rita%20Behl.jpeg);
  }  */
 
/* .middle{
     height: 1000px;
    background-color: aqua; 
     float:right;
     width: 30%; 
    margin-top: 4%;
    padding-right: 8px;
    padding-left: 8%; */
    
    
.about-dr{
    height: 3500px;
    /* background-color: aqua; */
    width: 100%;
    float: left;
    /* font-size: 35px; */
    text-align: center;

}
.box1{
height: 1300px;
width: 30%;
background-color: #E5E5E5;
margin-left: 2%;
float:left;
border-radius:90px ;
font-size: 36px;
}
.dr-img{
    
    height: 600px;
    width: 80%;
    /* background-color: black; */
    margin-left: 10%;
    border-radius: 90px;
    background-image: url(https://ayurvedapure.com/assets/images/team/Dr%20Rajesh%20Tayal.jpeg);
}
.box2{
    height: 1300px;
width: 30%;
background-color: #E5E5E5; 
margin-left: 2%;
float:left;
border-radius:90px ;
font-size: 23px;

}
.dr-img2{
height: 600px;
    width: 80%;
    /* background-color: black; */
    margin-left: 10%;
    border-radius: 90px;
    background-image: url(https://ayurvedapure.com/assets/images/team/Dr%20Harkiran%20Nehra.jpeg);
}
.box3{
     height: 1300px;
width: 30%;
background-color:#E5E5E5; 
margin-left: 2.5%;
float:left;
border-radius:90px ;
font-size: 50px;

}
.dr-img3{
    height: 600px;
    width: 80%;
    /* background-color: black; */
    margin-left: 10%;
    border-radius: 90px;
    background-image: url(https://ayurvedapure.com/assets/images/team/Dr%20Rita%20Behl.jpeg);
}
.box4{
     height: 900px;
width: 47%;
 background-color:#E5E5E5; 
margin-left: 2%;
float:left;
border-radius:90px ;
font-size: 50px;
margin-top: 4%;
}
.dr-img4{
    height:550px;
    width: 55%;
    /* background-color: black; */
    margin-left: 20%;
    border-radius: 90px;
    background-image: url(https://ayurvedapure.com/assets/images/team/Dr%20Bindu%20Gupta.jpeg);
}
.box5{
     height: 900px;
width: 47%;
 background-color: #E5E5E5; 
margin-left: 2%;
float:left;
border-radius:90px ;
font-size: 50px;
margin-top: 4%;
}
.dr-img5{
    height: 490px;
    width: 45%;
    /* background-color: black; */
    margin-left: 28%;
    border-radius: 90px;
    background-image: url(https://ayurvedapure.com/assets/images/team/Master%20Deepak%20Yogacharya.jpg);
}
.last-box{
    height: 540px;
    width: 60%;
      background-color:#436e53; 
    margin-top:110%;
    margin-left: 18%;
    border-radius: 90px;
    font-size: 40px;
    color: white;
    

}
.in-last{
    height: 400px;
    width: 100%;
 background-color:#436e53; 
    font-size:45px;
    margin-top: 5%;
    border-radius: 90px;
    /* transform: rotateX('55deg'); */
    
    
}
.bottom{
    height: 850px;
    width: 100%;
    background-color:#444444;
    margin-top: 5%;
}
.logo-1{
     height: 700px;
    /* background-color: rgb(132, 81, 6); */
    width: 25%;
    float:left  ;
    margin-left: 3%;
    margin-top: 3%;
}
.logo-1 img{
    height: 200px;
}


.inlogo-1{
    height: 250px;
    width: 70%;
    /* background-color:rgb(11, 10, 10); */
    margin-left: 14%;
    margin-top: 6%;
}
.inlogo-2{
    height: 360px;
    width: 70%;
    background-color:#0000001A; 
    margin-top: 4%;
    margin-left: 14%;
    font-size: 50px;
    border-radius: 7%;
    color: white;
}
.bottom-r{
height: 750px;  
width: 80%;
/* background-color: blue; */
margin-left: 30%;
margin-bottom: 20%;


}
.bottom-r1{
    height: 420px;
    width: 20%;
    /* background-color: aqua; */
     float: left; 
    margin-top: 15%;
    font-size: 40px;
    list-style: none;
    
}
.bottom-r1 ul li{
    font-size: 30px;
    color: white;     

}
.bottom-r2{
    height: 420px;
    width: 20%;
    /* background-color: aqua; */
    float: left;
    margin-top: 15%;
    margin-left: 1%;
     font-size: 40px;
}
.bottom-r2 ul li{
font-size: 30px;
    color: white;
}
.bottom-r3{
    height: 420px;
    width: 20%;
    /* background-color: aqua; */
    float: left;
    margin-top: 15%;
     margin-left: 1%;
     font-size: 40px;
}
.bottom-r3 ul li{
    font-size: 30px;
    color: white;
}
.bottom-r4{
    height: 420px;
    width: 20%;
    /* background-color: aqua; */
    float: left;
    margin-top: 15%;
     margin-left: 1%;
     font-size: 40px;
      
}
.bottom-r4 ul li{
font-size: 30px;
    color: white;
}
.bottom-r11{
    height: 120px;
    width: 100%;
    /* background-color: antiquewhite; */
    font-size: 24px; 
     color: white;
     
}


.bottom-r21{
     height: 120px;
    width: 100%;
    /* background-color: antiquewhite; */
    font-size: 24px;
     color: white;
}
.bottom-r31{
    height: 120px;
    width: 100%;
    /* background-color: antiquewhite; */
    font-size: 24px;
    color: white;
}
.bottom-r41{
    height: 120px;
    width: 100%;
    /* background-color: antiquewhite; */
    font-size: 24px;
     color: white;
}
/* .xyz{ 
    height: 400px;
    width: 20%;
    background-color: aquamarine;
    float: left;
    margin-left: 5%;
    margin-bottom: 100%;   */
    
 

 /* .in-last p{  */
   /* float: left; */
    /* padding-left: 50%   ; */
/* } */
 #submit-btn{
    height: 74px;
    width: 50%;
    text-align: center;
    margin-left: 10%;
    background-color: #D1C412;
    border-radius: 20%;
    font-size: 30px;
}
  #submit1{
    height: 70px;
    width: 20%;
    background-color: #D1C412;
    margin-top: 1%;
    font-size: 20px;
  }
  #submit2{
    height: 70px;
    width: 20%;
    background-color: #D1C412;
    margin-top: 1%;
    font-size: 20px;
  }